/*  =============================================================
    ==             stylying for Music Page                     ==
    =============================================================
*/

#music-container {
    --sidebar-width: 150px;
    height: 100%;
}

#music-sidebar {
    width: var(--sidebar-width);
    height: calc(100% - 2 * var(--header-height));
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 99;
    background: rgb(56, 56, 56);
}

.category {
    border: none;
    max-width: 100px;
    padding: .5em 1em;
    height: 50px;
    margin-top: 1em;
    border-radius: 15px;
    background: grey;
    cursor: pointer;
}

.current {
    background: var(--accent-color)
}

#music-content {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 0;
}

#music-content #card-container{
    margin-top: 9em;
}

.music-title {
    font-size: 35px;
    color: var(--accent-color);
}