/*  =============================================================
    ==             stylying for Music Page                     ==
    =============================================================
*/

#music-container {
    --sidebar-width: 150px;
    height: 100%;
}

#music-sidebar {
    overflow: auto;
    width: var(--sidebar-width);
    height: calc(100% - 2 * var(--header-height));
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 99;
    background: rgb(56, 56, 56);
}

#music-sidebar::-webkit-scrollbar-thumb {
    background-color: black;
    outline: 1px solid slategre
}

.category {
    border: none;
    max-width: 100px;
    padding: .5em 1em;
    height: 50px;
    margin-top: 1em;
    border-radius: 15px;
    background: grey;
    cursor: pointer;
}

.playlist {
    margin-top: 1em;
}

#music-content {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 0;
}

#music-content #card-container{
    margin-top: 4em;
}

.music-title {
    font-size: 35px;
    color: var(--accent-color);
    text-align: center;
}

.music-img {
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1;
    width: 400px;
    cursor: pointer;
}

.logo-img {
    object-fit: cover;
    object-position: center;
    aspect-ratio: 2362/709;
    width: 150px;
    margin-top: 2em;
}

@media all and (max-width: 830px) {
    #music-content {
        margin-left: calc(var(--sidebar-width) + 100px);
    }
    .music-img {
        width: 150%;
        max-width: none;
    }
}