/*  =============================================================
    ==                      Universal                          ==
    =============================================================
*/
:root {
    --card-color: rgb(170, 170, 170);
    --accent-color: rgb(255, 69, 69);
    --header-height: 150px;
}

*, *:before, *:after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/*  =============================================================
    ==                    Styling for Header                   ==
    =============================================================
*/
header {
    border: thin solid rgb(29, 29, 29); 
	width:100%; 
	height: var(--header-height); 
	text-align: center; 
	background-color: rgb(22, 22, 22); 
	word-wrap: break-word; /* words won't go from the boundry */ 
    color: white;
    font-size: 30px;
}

#icon {
    position:absolute;
    top:25px;
    left:25px;
    width:100px;
    height:100px;
}
#landing-btn {
    position: absolute;
    top: 125px; 
    left: 150px;
}
#music-btn {
    position: absolute;
    top: 125px;
    left: 225px;
}
#stats-btn {
    position: absolute;
    top: 125px;
    left: 300px;
}

body{
    background-color: rgb(36, 36, 36); 
}

/*  =============================================================
    ==             stylying for informationCards               ==
    =============================================================
*/

#card-container {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 100%;
    position: relative;
    gap: 20px;
}

.card {
    background: var(--card-color);
    border-radius: 20px;
    transform: scale(1);
    transition: transform 200ms ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* cursor: pointer; */
    margin: 0;
}

.card:hover {
    transform: scale(1.1);
}

.card-numbered::before {
    width: 50px;
    height: 25px;
    text-align: center;
    font-size: 20px;
    content: attr(data-ranking);
    position: absolute;
    top: -1.2em;
    background: var(--card-color);
    padding: .7em;
    border-radius: 25px 25px 0 0;
}


/* artist card */
.artist-card {
    width: 300px;
    height: 600px;
    margin-bottom: 3em;
}

.artist-name {
    width: 100%;
    padding: 0 1em;
    text-align: center;
    margin-top: 2em;
}

.artist-image {
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1;
    width: 200px;
}

.genre-title {
    margin: 3em 0 .5em;
    height: 0;
}

.genre-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.genre {
    margin: .5em 0;
}

.followers {
    position: absolute;
    bottom: 0;
}

/*  =============================================================
    ==             stylying for Statistics Page                ==
    =============================================================
*/
#statistic-container {
    --sidebar-width: 150px;
    height: 100%;
}

#statistic-sidebar {
    width: var(--sidebar-width);
    height: calc(100% - 2 * var(--header-height));
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 99;
    background: rgb(56, 56, 56);
}

.category {
    border: none;
    max-width: 100px;
    padding: .5em 1em;
    height: 50px;
    margin-top: 1em;
    border-radius: 15px;
    background: grey;
    cursor: pointer;
}

.current {
    background: var(--accent-color)
}

#statistic-content {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 0;
}

#statistic-content #card-container{
    margin-top: 11em;
}

.stat-title {
    position: absolute;
    font-size: 35px;
    top: 1em;
    color: var(--accent-color);
}

#left-btn, #right-btn {
    --size: 30px;
    position: fixed;
    z-index: 99;
    top: calc(50% + 20px);
    cursor: pointer;
}

#left-btn {    
    left: 0;
    transform: translateX(calc(var(--sidebar-width) + var(--size)));

    border-top: var(--size) solid transparent;
    border-bottom: var(--size) solid transparent; 
    border-right:var(--size) solid var(--accent-color);
}

#right-btn {
    transform: translateX(calc(-1 *(var(--sidebar-width) + var(--size))));
    right: 0; 
    border-top: var(--size) solid transparent;
    border-bottom: var(--size) solid transparent;
    border-left: var(--size) solid var(--accent-color);
}


/*  =============================================================
    ==                 Styling for Music Player                ==
    =============================================================
*/

footer {
	width:100%; 
	height:80px; 
	background-color: transparent;
    display:flex;
    justify-content:center;
    position: sticky;
    bottom: 0;
}

#playback-button {
    border: 0;
    width: 0;
    height: 37px;
    background: transparent;
    box-sizing: border-box;
    border-color: transparent transparent transparent #ffffff;
    transition: 100ms all ease;
    cursor: pointer;
    border-style: solid;
    border-width: 18.5px 0 18.5px 30px;
}
#playback-button.paused {
    border-style: double;
    border-width: 0px 0 0px 30px;
}
#playback-button:hover {
    border-color: transparent transparent transparent #ffffff;
}

#playback {
    list-style:none;
}